*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: lightyellow;
color: #61122F;
}
body{
	background-color: #61122F;
	color: mintcream;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
	position: relative;
}
.text-center{
	font-size: 30px;
}
h1{
	color: darkred;
	background-color: ghostwhite;
}

h2{
	text-align: center;
	font-weight: bold;
	background-color: lightcoral;
	color: mediumpurple;
}

#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}